# nodejs dependencies directory
node_modules

# lock file
package-lock.json

# VS Code config
.vscode

# to test out env vars
.env

# my local scripts folder to do CI/CD (might switch to GitHub Actions later)
scripts

# a testing directory which i use to design various APIs
demo