# nodejs dependencies directory
node_modules

# lock file
package-lock.json

# VS Code config
.vscode

# nyc temp data directory
.nyc_output

# nyc code coverage result directory
coverage

# to test out env vars
.env

# my local scripts folder to do CI/CD (might switch to GitHub Actions later)
scripts

# a testing directory which i use to design various APIs
demo